
*{
    margin: 0;
}
.main {
    background-color: orange;
    display: flex;
    justify-content: space-around;
    padding-top: 1100px;
    padding-bottom: 1px;
    background: url(/images/resturant12.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-size: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    text-align:center;
    height: 4vh;
}

h2{
  text-align: center;
  color: yellow;
  text-decoration-line: underline;
}
h1{
  text-align: center;
  color: yellowgreen;
  text-decoration-line: underline;
}
h3{
    color: brown;
}
h4{
    text-align: center;
    text-shadow: 2rem;
}
p{
    /* text-align: center; */
    color: palegreen;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
footer{
    text-align: center;
}
.footer{
    background-color: brown;
    color: white;
    padding: 2rem;
    text-align: center;
}
